ACTION=="add", KERNEL=="preloader", OWNER="root", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="bootimg", OWNER="root", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="recovery", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="sec_ro", OWNER="root", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="kb", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="dkb", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="seccfg", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="pro_info", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="logo", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="otp", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="nvram", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="misc", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="misc2", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="misc-sd", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB1", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB2", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB3", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB4", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="xLog", OWNER="root", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="msm_hw3dc", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgsl", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="diag", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="diag_arm9", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttyMSM0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="uibc", OWNER="root", GROUP="android_media", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="system", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="msm_hw3dm", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="eac", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="cam", OWNER="root", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="pmem", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="pmem_adsp*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_camera*", OWNER="system", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="oncrpc/*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="adsp/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="mt9t013", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="msm_camera/*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="akm8976_daemon", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_aot", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_daemon", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_aot", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="bma150", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="cm3602", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_pffd", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="lightsensor", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="msm_pcm_out*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_in*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_ctl*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_snd*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_mp3*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="audience_a1026*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tpa2018d1*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audpre", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audio_ctl", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="htc-acoustic", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="vdec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="q6venc", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="i2c-0", OWNER="system", GROUP="audio", MODE="0666"
ACTION=="add", KERNEL=="i2c-1", OWNER="system", GROUP="audio", MODE="0666"
ACTION=="add", KERNEL=="i2c-2", OWNER="system", GROUP="audio", MODE="0666"
ACTION=="add", KERNEL=="i2c-3", OWNER="system", GROUP="audio", MODE="0666"
ACTION=="add", KERNEL=="smd0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi1", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi2", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="plugdev", MODE="0660"
ACTION=="add", KERNEL=="tun", OWNER="system", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="ccci*", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ttyC*", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="eemcs*", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="emd*", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="fb0", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="pvrsrvkm", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="pvr_sync", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="ts0710mux*", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="ppp", OWNER="radio", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="msr3110", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="mt6605", OWNER="root", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="gps", OWNER="gps", GROUP="gps", MODE="0660"
ACTION=="add", KERNEL=="mtgpio", OWNER="radio", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="btif", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="ttySDIO*", OWNER="radio", GROUP="plugdev", MODE="0660"
ACTION=="add", KERNEL=="ttyRB*", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="trustzone", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="tzmem", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyACM0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttyACM1", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="touch", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="hotknot", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="kick_powerkey", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="MATV", OWNER="root", GROUP="android_media", MODE="0660"
ACTION=="add", KERNEL=="MTK_SMI", OWNER="root", GROUP="android_media", MODE="0660"
ACTION=="add", KERNEL=="ebc", OWNER="root", GROUP="android_media", MODE="0660"
ACTION=="add", KERNEL=="mtk_sched", OWNER="root", GROUP="android_media", MODE="0660"
ACTION=="add", KERNEL=="uibc", OWNER="root", GROUP="android_media", MODE="0660"
ACTION=="add", KERNEL=="devmap", OWNER="root", GROUP="system", MODE="0444"
